* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  background-image: url('photos/bg.png');
  background-size: cover;
  background-repeat: no-repeat;
}
/* NAVBAR starts*/
		
header {
	background-color: #fff;
	padding: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}
.logo {
  display: flex;
  align-items: center;
  font-size: 24px;
  font-weight: bold;

  color: #fff;
}

.logo img {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(5, 118, 97, 0.8);

}
		nav {
			display: flex-right;
			align-items: center;
			justify-content: flex-end;
		}
		nav ul {
			margin: 0;
			padding: 0;
			display: flex;
			list-style-type: none;
		}
		nav ul li {
			margin-left: 20px;
			font-weight: bold;
		}
		nav ul li a {
			color: #333;
			text-decoration: none;
			padding: 10px;
			transition: all 0.3s ease-in-out;
		}
		nav ul li a:hover {
			background-color: #20B2AA;
			color: white;
			border-radius: 10px;
			padding: 10px 20px;
		}

		nav ul li a input {
			border: none;
			background: none;
		}
		
.dropbtn {
  color: black;
  border: none;
  cursor: pointer;
  background: transparent;
}


.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 20px;
  background-color: #20B2AA;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #20B2AA;
	color: white;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #20B2AA;
			color: #fff;
			border-radius: 10px;
			padding: 5px 10px;
}
		
/* NAVBAR ends */	


.container {
	max-width: 700px;
	margin-top : 130px ;
	margin-bottom: 130px;
	background-color: #fff;
	box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
	border-radius: 20px;
	padding: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
}


.cover-photo img {
	margin-top : -50px ;
    border-radius: 20px;
	max-width: 700px;

	display: flex;
	padding: 10px;
	
}
@media screen and (max-width: 768px) {
	.cover-photo img {
	  margin-top: -50px;
	}
  }
  
  @media screen and (max-width: 480px) {
	.cover-photo img {
	  margin-top: -30px;
	}
  }

.profile-photo {
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
height: 190px;
margin: -100px auto 0 auto;   /* automatically calculates and sets equal margins on both sides of the element, effectively centering it within its container. */
overflow: hidden;      /* clips any content that overflows the element's boundaries and hides it from view. */
width: 190px;
}

.profile-photo img {
max-width: 100%;
}

.user-info {
margin-top: 30px;
text-align: center;
}

.user-info h1 {
font-size: 36px;
margin-bottom: 10px;
}

.user-info p {
color: #666;
font-size: 18px;
margin-bottom: 30px;
}

.user-info ul {
list-style: none;
margin-bottom: 30px;
padding: 0;
}

.user-info ul li {
font-size: 16px;
line-height: 1.5;
margin-bottom: 10px;
position: relative;
padding-left: 35px;
text-align: left;
}

.user-info ul li:last-child {
margin-bottom: 0;
}

.user-info ul li .icon {
background-color: #ddd;
border-radius: 50%;
display: inline-block;
height: 20px;
left: 0;
position: absolute;
text-align: center;
top: 0;
width: 20px;
}

.user-info ul li .icon i {
color: #fff;
font-size: 14px;
line-height: 20px;
}

.user-info ul li a {
color: #666;
text-decoration: none;
}

.user-info ul li a:hover {
color: #333;
}

.user-stats {
display: flex;
margin-top: 30px;
}

.stat {
flex: 1;
text-align: center;
}

.stat .value {
color: #333;
font-size: 36px;
margin-bottom: 10px;
}

.stat .label {
color: #999;
font-size: 16px;
}

			
/* FOOTER starts */
 
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow-x: auto;
}

.container-f{
  background-color: #fff;
   padding: 10px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  position:fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 12px;
  line-height: 1.5;
  color: #333;
  width: 100%;
}

.social-links {
  display: flex;
  margin-right: 20px;
  align-items: center;
}

.social-links a {
  color: #333;
  margin-right: 20px;
  font-size: 24px;
  transition: all 0.3s ease-in-out;
}

.social-links a:hover {
  transform: translateY(-5px);
  color: turquoise;
}

.contact-info {
  display: flex;
  align-items: center;
  margin-left: 50px;
  color: black;
}



.contact-info p {
  margin: 0;
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  
}
.container-f p{
  color: #333;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 10px;
  margin-right: 10px;
}
/* FOOTER ends */

@media screen and (max-width: 768px) {
header {
padding: 10px 20px;
}
nav ul li {
margin-left: 10px;
}
.logo {
margin-left: 10px;
}
.container {
padding: 20px;
}
input[type="submit"] {
font-size: 16px;
}
footer {
padding: 20px;
}
.contact-info {
margin-left: 0;
margin-top: 20px;
}
}